<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-8 mb-3 card py-3">
            <h3 class="mb-3">기본 정보</h3>
            <table id="app_info_table" class="table mb-0">

            </table>
        </div>
        <div class="col-8 mb-3 card py-3">
            <div class="row justify-content-between">
                <h3>앱 키</h3>
            </div>
            <table id="key_table" class="table mb-0">

            </table>
        </div>
        <div class="col-8 mb-3 card py-3">
            <div class="row justify-content-between">
                <div id="redirect_url_title" class="row justify-content-between">
                    <div class="col-4">
                        <h3>Redirect Url</h3>
                    </div>
                    <div class="col-4" id="redirect_btn_groups">
                    </div>
                </div>
                <div class="modal fade" id="redirectUrlModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
                     aria-labelledby="redirectUrlModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticModalLabel">Redirect Url 추가</h5>
                                <button type="button" class="btn-close" data-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <form id="redirect_url_add_form" method="post">
                                <div class="modal-body">
                                    <label for="redirectUrl"></label><textarea class="form-control" placeholder="Leave redirect urls here" name="redirectUrl" id="redirectUrl" style="height: 100px"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">추가</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <table id="redirect_url_table" class="table mb-0">

            </table>
            <p class="small w-100">
                카카오 로그인에서 사용할 OAuth Redirect URI를 설정합니다. (최대 10개)<br>
                REST API로 개발하는 경우 필수로 설정해야 합니다.
            </p>
        </div>
    </div>

    <script>
        let name = "[[${name}]]";
        let oauthClientData = [];

        $(document).ready(function () {
            loadApplicationDetail();
        });

        function loadApplicationDetail() {
            const url = "http://localhost:8080/api/application/" + name;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data, status) {
                    if (status === "success") {
                        showApplicationDetail(data);
                        loadOauthClientDetail(data.restApiKey);
                    }
                }
            });
        }

        function showApplicationDetail(data) {
            let app = `
                        <tr>
                            <th class="w-25" scope="row">앱 이름</th>
                            <td>${data.name}</td>
                        </tr>
                        <tr>
                            <th scope="row">사업자명</th>
                            <td>${data.company}</td>
                        </tr>
                    `;

            $("#app_info_table").append(app);
        }

        function loadOauthClientDetail(clientId) {
            const url = "http://localhost:8080/api/oauth2/" + clientId;

            $.ajax({
                url: url,
                type: 'GET',
                success: function (data, status) {
                    if (status === "success") {
                        oauthClientData = data;
                        showOAuthDetail(data);
                    }
                }
            });
        }

        function showOAuthDetail(data) {
            console.log(data);

            let app = `
                        <tr>
                            <th class="w-25" scope="row">Client-Id</th>
                            <td>${data.clientId}</td>
                        </tr>
                        <tr>
                            <th scope="row">Client-Secret</th>
                            <td>${data.clientSecret}</td>
                        </tr>
                    `;

            $("#key_table").append(app);

            if (data.webServerRedirectUri) {
                let redirectUrlBtns = `
                    <div id="redirect_btn_group" class="text-lg-end">
                        <button type="button" class="btn btn-primary">삭제</button>
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#redirectUrlModal">
                            수정
                        </button>
                    </div>
                `;

                $("#redirect_btn_groups").append(redirectUrlBtns);
                $("#redirectUrl").val(data.webServerRedirectUri);

                let redirectUrlTable = `
                    <tr>
                        <th class="w-25" scope="row">Redirect URI</th>
                        <td>${data.webServerRedirectUri}</td>
                    </tr>
                `;

                $("#redirect_url_table").append(redirectUrlTable);
            } else {
                let redirectBtn = `
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#redirectUrlModal">RedirectURI 등록</button>
                `;
                $("#redirect_url_table").append(redirectBtn);
            }
        }

        $("form").on("submit", function (event) {
            event.preventDefault();

            let data = {
                id: oauthClientData.id,
                webServerRedirectUri: $("#redirectUrl").val()
            };

            $.ajax({
                url: "/api/oauth2/redirect/"+data.id,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (data, status) {
                    console.log("Data: " + data + "\nStatus: " + status);
                    loadApplicationDetail();
                },
                complete : function() {
                    location.reload(true);
                }
            });
        });
    </script>
</div>
</html>