<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<div layout:fragment="content" class="py-4">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h1 class="py-3 mb-4 fw-bolder">회원가입</h1>
            <form id="sign_up_form" novalidate>
                <div class="mb-4">
                    <label for="email" class="form-label">이메일</label>
                    <input type="email" name="email" placeholder="abc123@example.com" class="form-control p-3" id="email" aria-describedby="emailHelp"
                           required>
                    <div class="invalid-feedback">
                        이메일을 입력하셔야 합니다.
                    </div>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" name="password" placeholder="8자 이상의 숫자, 영문, 특수 기호가 포함되어야 합니다." class="form-control p-3" id="password" required>
                    <div class="invalid-feedback">
                        비밀번호를 입력하셔야 합니다.
                    </div>
                </div>
                <div class="mb-5">
                    <label for="password_check" class="form-label">비밀번호 확인</label>
                    <input type="password" name="passwordCheck" placeholder="8자 이상의 숫자, 영문, 특수 기호가 포함되어야 합니다." class="form-control p-3" id="password_check" required>
                    <div class="invalid-feedback">
                        비밀번호를 입력하셔야 합니다.
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary py-2">회원가입</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        let signUpForm = document.getElementById("sign_up_form");

        signUpForm.addEventListener("submit", function (event) {
            if (signUpForm.checkValidity() == false) {
                event.preventDefault();
                event.stopPropagation();
                signUpForm.classList.add("was-validated");

                return false;
            }

            event.preventDefault();

            let signUpFormDataObject = $("#sign_up_form").serializeObject();

            if (signUpFormDataObject.password !== signUpFormDataObject.passwordCheck) {
                alert("비밀번호가 일치하지 않습니다.");
                return false;
            }

            $.ajax({
                url: "/api/developer",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(signUpFormDataObject),
                success: function (data, status, xhr) {
                    location.href = xhr.getResponseHeader("Location");
                }
            });
        }, false);
    </script>
</div>
</html>